.header-txt{
    width:100%;
    background: #22688b;
    color: white;
    
    margin: 10px 0px;
}
.txt-lable{
    padding: 10px 15px;
    font-size: 20px;
}
.icox{
    font-size: 24px;
    color:#d9a405;
}
.Alert-div {
    width: 90%;
    box-shadow: rgb(3 102 214 / 42%) 0px 0px 0px 3px;
    margin-bottom: 15px;
    padding: 10px 10px;
    background-color: #c5dcf5;
    border-radius: 40px 0px;
    position: relative;
    margin-right: 10%;
}
.fa-laptop {
    position: absolute;
    right: -30px;
    top: -5px;
    color:black;
}
.date-alert{
    text-align: left;
    color:black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}