.header-txt{
    width:100%;
    background: #22688b;
    color: white;
    
    margin: 10px 0px;
}
.txt-lable{
    padding: 10px 15px;
    font-size: 20px;
}
.icox{
    font-size: 24px;
    color:#d9a405;
}
.Blance-div{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 100%;
}
.Blance-txt{
    color:#22688b;
    font-size: 20px;
    padding:10px 15px 10px 15px;
}
.Blance-txtt{
    color:#d9a405;
    font-size: 22px;
   
}
.Blance-txttt{
    color:#22688b;
    font-size: 14px;
   font-weight: bold;
}